.header{
    background-color: #222;
    color:white;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 10% auto 10%;
    padding-top: 2em;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    line-height: 2.5;
    padding: 25px 30px;
    margin-bottom: 2rem;
}
.header div{
    height: 30%;
}
.center{
    text-align: center;
}
.header img{
    height: 100px;
    background: none;
    border:none;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

.ui-table{
    width: 100%;
    border: 1px solid rgba(34, 36, 38, .15);
    color: rgba(0, 0, 0, .87);
    border-spacing: 0;
    text-align: left;
}
.ui-table th{
    font-size: 1em;
    padding: 1em;
    background-color: rgba(34, 36, 38, .4);
}
.ui-table td {
    padding: 1em;
}
.container {
    margin: 0 5em;
}

.modals{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}
.show{
    opacity: 1;
    visibility: unset;
}
.hide{
    opacity: 0;
    visibility: hidden;
}
.form-container{
    width: 50%;
    height: 85%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 11%;
    left: 30%;
    z-index: 200;
    color: whitesmoke
}
.form-container .form-data{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: auto;
}
.form-container .form-data *{
    margin: 1.5em 0;
}


/* spining icon */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

